INSERT INTO Customer VALUES
();



INSERT INTO Customer2Vehicle VALUES
();
 


INSERT INTO Customer2Invoices VALUES
();




INSERT INTO Employee VALUES
();





INSERT INTO Vehicle VALUES
();




INSERT INTO Job VALUES
();


INSERT INTO Job2Stock VALUES
();




INSERT INTO Stock VALUES
();



INSERT INTO Invoice VALUES
();



UPDATE Stock SET stockPartLevel=3 WHERE stockPartName='exhaust';
UPDATE Stock SET stockPartLevel=16 WHERE stockPartName='Oil Filter';
UPDATE Stock SET stockPartLevel=1 WHERE stockPartName='DB5 Engine'; 
UPDATE Stock SET stockPartLevel=1 WHERE stockPartName='DB5 Seat';
UPDATE Stock SET stockPartLevel=2 WHERE stockPartName='DB5 Wheel';




INSERT INTO Invoice2Stock VALUES
();




INSERT INTO Supplier VALUES
();


INSERT INTO Supplier2Stock VALUES
();




INSERT INTO Address VALUES
();



INSERT INTO Booking VALUES
();



INSERT INTO Discount VALUES
();




INSERT INTO Orders VALUES
();



INSERT INTO Orders2Supplier VALUES 
();